<h2>Añade a tu vendehumos preferido</h2>



<form>
  <div>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre">
  </div>
  <div>
    <label for="categoria">Categoria:</label>
    <select id="categoria">
      <option value="crypto">Crypto</option>
      <option value="desarrollo-personal">Desarrollo personal</option>
      <option value="trading">Trading</option>
    </select>
  </div>
  <div>
    <label for="imagen">Imagen:</label>
    <input type="text" id="imagen">
  </div>

  <button type="submit">Añadir</button>
</form>


<!-- <button (click)="guardarVendehumo()">Crear nuevo vendehumo</button> -->