table {
  border-collapse: collapse;
}

.esPrimeraFila {
  border-top: 1px solid black;
}

.esUltimaFila {
  border-bottom: 1px solid black;
}

.esFilaPar {
  background-color: lightgray;
}

.esFilaImpar {
  background-color: lightgreen;
}